#pagelink {
    color: #c9c9c9;
}

#pagelink:hover {
    color: white;
}

#pagelink.nav-link.active {
    background-color: #313131;
    color: #E16428;
}

@font-face {
    font-family: Hack;
    src: url("/Hack-Regular.ttf");
}