.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  overflow:hidden;
  font-family: Calibri, sans-serif;
}

.App-link {
  color: #61dafb;
}

#image-button {
  background-color: inherit;
  border: none;
  outline:none;
}

#image-button:active {
  outline:none;
}

#footer {
  background-color: #282c34;
  color: #eeeeee;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid rgb(238 238 238 / 30%);
  padding: 10px;
}

a {
  color: orange;
}